#search,
#submit {
  float: left;
}

#search {
  padding: 5px 9px;
  height: 23px;
  width: 380px;
  border: 1px solid #a4c3ca;
  font: normal 13px 'trebuchet MS', arial, helvetica;
  background: #f1f1f1;
  border-radius: 50px 3px 3px 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
}

/* ----------------------- */

#submit
{
  background-color: #6cbb6b;
  background-image: linear-gradient(#95d788, #6cbb6b);
  border-radius: 3px 50px 50px 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #7eba7c #578e57 #447d43;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3),
  0 1px 0 rgba(255, 255, 255, 0.3) inset;
  height: 35px;
  margin: 0 0 0 10px;
  padding: 0;
  width: 90px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #23441e;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover {
  background-color: #95d788;
  background-image: linear-gradient(#6cbb6b, #95d788);
}

#submit:active {
  background: #95d788;
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#submit::-moz-focus-inner {
  border: 0;  /* Small centering fix for Firefox */
}

.search{

  margin: auto;
  width: 50%;
}
.list{
  vertical-align: top;
  width: 50%;
  margin: 0 auto;
}

.clear{
  clear: both;
}
.card{
  padding: 1em;
  border-top: solid #d74f29;
color: #616d7a;
}

.card:hover h4{
  color: #d74f29;
}
.title{
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #383c4d;
}
