<div class="list">
  <div class="grid grid-pad">
    <p *ngFor="let hero of heroes" [routerLink]="['/detail', hero.id]" class="col-1-4">
      <md-card class="card">
        <h4 class="title">{{hero.name}}</h4>
        <rating [(ngModel)]="hero.ratings" [max]="max" [readonly]="isReadonly"></rating>
        <br>
        <span>{{hero.addressLine1}}</span>
        <span>{{hero.cityName}}</span><br>
        <span>{{hero.state}}</span>
        <span>{{hero.zip}}</span>

      </md-card>

    </p>

  </div>
</div>

