<head>
    <script src="//api.cloudsponge.com/widget/localhost-only.js"></script>
    <script type="text/javascript">
        // this is where you can configure the behavior and style of the widget
        // http://www.cloudsponge.com/developer/#the-contact-importer-widget
        cloudsponge.init({
            sources: ['gmail', 'yahoo', 'outlook'],
            // display only emails in the textarea
            include: ["email"],
        });
    </script>
</head>
<toolbar></toolbar>


<div *ngIf="hero">
    <div class="title"><h4>{{hero.name}}</h4>
        <a href="http://{{hero.website}}" target="_blank"
           *ngIf="hero.website && hero.website !='N/A'">{{hero.website}}</a><br>
        <span>{{hero.cityName}}</span> |
        <span>{{hero.state}}</span>
    </div>
    <div class="tabs">
        <tabset>
            <tab *ngIf="hero.missionDescription" heading='Mission'><p class="content">{{hero.missionDescription}}</p>
            </tab>
            <tab *ngIf="hero.businessOfficerPersonName" heading='Business Officer'>
        <span class="content"><h3 class="key">{{hero.businessOfficerPersonName}}</h3>
          <span>{{hero.businessOfficerPersonTitle}}</span><br>
          <span>{{hero.businessOfficerPersonPhone}}</span><br>
          <span>{{hero.businessOfficerPersonSignatureDate}}</span>
        </span>
            </tab>
            <tab *ngIf="hero.returnType" heading='Tax'><span class="content">
        <section>
          <h3>Return Type</h3>
          <p class="value">{{hero.returnType}}</p>
        </section>

        <section>
        <h3>Tax Year</h3>
        <p class="value">{{hero.taxYear}}</p>
      </section>

        <span *ngIf="hero.rulingDate">Ruling Date: &nbsp;</span>
        <span *ngIf="hero.rulingDate">{{hero.rulingDate}}</span><br>
      </span></tab>
            <tab *ngIf="hero.expenseAmt" heading='Finance'>
                <section>
                    <h3 class="key">Expense Amt</h3>
                    <p class="value">{{hero.expenseAmt}}</p>
                </section>
            </tab>
            <tab *ngIf="hero.ein" heading='About'>
                <section>
                    <h3 class="key">EIN</h3>
                    <p class="value">{{hero.ein}}</p>
                </section>
                <section>
                    <h3 *ngIf="hero.phoneNum" class="key">Phone</h3>
                    <p class="value">{{hero.phoneNum}}</p>
                </section>
                <section>
                    <h3 *ngIf="hero.website" class="key">Website</h3>
                    <p class="value">{{hero.website}}</p>
                </section>
                <section>
                    <h3 *ngIf="hero.addressLine1" class="key">Address</h3>
                    <span>{{hero.addressLine1}}</span><br>
                    <span>{{hero.cityName}}</span><br>
                    <span>{{hero.state}}</span>
                    <span>{{hero.zip}}</span>
                </section>


            </tab>
            <tab *ngIf="hero.ein" heading='Finance'>
                <h6>Amounts are in dollars($)</h6>
                <table>
                    <tr>
                        <td class="keyGroup">Past year total revenue</td>
                        <td class="value">{{hero.PYTotalRevenueAmt}}</td>
                    </tr>
                    <tr>
                        <td class="keyGroup">Current year total revenue</td>
                        <td class="value">{{hero.CYTotalRevenueAmt}}</td>
                    </tr>
                    <tr>
                        <td class="keyGroup">Current year total fundraising expenses</td>
                        <td class="value">{{hero.CYTotalFundraisingExpenseAmt}}</td>
                    </tr>
                    <tr>
                        <td class="keyGroup">Past year contributions and grants</td>
                        <td class="value">{{hero.PYContributionsGrantsAmt}}</td>
                    </tr>
                    <tr>
                        <td class="keyGroup">Past year program and service revenue</td>
                        <td class="value">{{hero.PYProgramServiceRevenueAmt}}</td>
                    </tr>
                    <tr>
                        <td class="keyGroup">Current year program and service revenue</td>
                        <td class="value">{{hero.CYProgramServiceRevenueAmt}}</td>
                    </tr>
                    <tr>
                        <td class="keyGroup">Current year investment income</td>
                        <td class="value">{{hero.CYInvestmentIncomeAmt}}</td>
                    </tr>
                    <tr>
                        <td class="keyGroup">Current year investment income</td>
                        <td class="value">{{hero.CYInvestmentIncomeAmt}}</td>
                    </tr>
                    <tr>
                        <td class="keyGroup">Current year investment income</td>
                        <td class="value">{{hero.CYInvestmentIncomeAmt}}</td>
                    </tr>
                    <tr>
                        <td class="keyGroup">Current year other reveneue amount</td>
                        <td class="value">{{hero.CYOtherRevenueAmt}}</td>
                    </tr>
                    <tr>
                        <td class="keyGroup">Current year salaries and benefits</td>
                        <td class="value">{{hero.CYSalariesCompEmpBnftPaidAmt}}</td>
                    </tr>
                    <tr>
                        <td class="keyGroup">Past year professional fundraising expenses</td>
                        <td class="value">{{hero.PYTotalProfFndrsngExpnsAmt}}</td>
                    </tr>
                    <tr>
                        <td class="keyGroup">Current year total fundraising expense amount</td>
                        <td class="value">{{hero.CYTotalFundraisingExpenseAmt}}</td>
                    </tr>
                    <tr>
                        <td class="keyGroup">Current year total fundraising expense amount</td>
                        <td class="value">{{hero.CYTotalFundraisingExpenseAmt}}</td>
                    </tr>

                </table>


            </tab>
            <tab *ngIf="hero.ProgSrvcAccomActyGrpDesc" heading='Programs'>
                <section>
                    <h3 class="key">Description</h3>
                    <p class="value">{{hero.ProgSrvcAccomActyGrpDesc}}</p>
                </section>
                <section>
                    <h3 class="key">Expense Amount</h3>
                    <p class="value">{{hero.ProgSrvcAccomActyGrpExpenseAmt}}</p>
                </section>
                <section>
                    <h3 class="key">Revenue Amount</h3>
                    <p class="value">{{hero.ProgSrvcAccomActyGrpRevenueAmt}}</p>
                </section>


            </tab>
            <tab *ngIf="hero.FormationYr" heading='Others'>
                <section>
                    <h3 class="keyGroup">Formation year</h3>
                    <p class="value">{{hero.FormationYr}}</p>
                </section>
                <section>
                    <h3 class="keyGroup">Employee count</h3>
                    <p class="value">{{hero.EmployeeCnt}}</p>
                </section>
                <section>
                    <h3 class="keyGroup">Volunteer Count</h3>
                    <p class="value">{{hero.TotalVolunteersCnt}}</p>
                </section>
            </tab>

        </tabset>

    </div>


</div>

<!--<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div>
    <label>id: </label>{{hero.id}}
  </div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name"/>s
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>-->
<!--<button (click)="goBack()">Back</button>

&lt;!&ndash;<code class="prettyprint">{{hero | json}}</code>&ndash;&gt;

<table>
  <tr>
    <td>Name</td>
    <td>{{hero.id}}</td>
  </tr>
</table>-->


