label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #404455;
  cursor: auto;
}

.title {
  text-align: center;
}

.logo {
  padding: .2em;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.8rem;
  margin: 3% 10%;
  margin: 1% 20% 0;
  color:#616d7a;


}
h6{
  font-family: 'Quicksand', sans-serif;
  float: right;
}

span {
  font-family: 'Quicksand', sans-serif;
  color: #555;
}

.tabs {
  width: 80%;
  margin: 0 auto;
}

.content {
  text-align: justify;
  padding: 1em;
}

.key{
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .2px;
  font-weight: 700;
  line-height: 15px;
  padding: .8rem 0 .3rem;
}
.keyGroup{
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .2px;
  font-weight: 700;
  line-height: 15px;
  font-size: 18px;

}
.toolbar{
  background-color: lightblue;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
