/* You can add global styles to this file, and also import other style files */

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {

  background-color: #ed5124;
  border-color: #ed5124;
}

.pagination>li>a, .pagination>li>span{
  color:#ed5124 ;
}
