<!--
  #2 provide a way for the end user to launch the widget:
  Any link with a class="cloudsponge-launch" will start the import process.
-->
<div>

    <toolbar></toolbar>

    <div class="content">

        <div class="clear"></div>


        <div class="heading">Search Organizations</div>
        <div class="bound">
            <section class="flexbox">
                <div class="stretch">
                    <input type="text" type="text" placeholder="Organization Name" #box
                           (keyup)="getAllOrganization(box.value)" (keyup.enter)="update(box.value)"
                           autocomplete="off"/>
                </div>
                <div class="normal">
                    <i class="fa fa-search" aria-hidden="true" (click)="update(box.value)"></i>
                </div>

            </section>
            <div class="btn-group" dropdown>
                <button id="split-button" type="button" class="btn btn-danger">filter by states</button>
                <button type="button" class="btn btn-danger dropdown-toggle-split" dropdownToggle>
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                </button>
                <ul dropdownMenu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><input #state type="checkbox" (change)="checkbox(state.value)" value="WA">
                        Washington<br>

                    </li>

                </ul>
            </div>


        </div>


        <!--  <div class="list">
            <div class="grid grid-pad">
              <a *ngFor="let hero of heroes" [routerLink]="['/detail', hero.id]" class="col-1-4">
                <h4>{{hero.name}}</h4>
              </a>
            </div>

        <div id="search" *ngIf="data"><span *ngIf="data.count">About {{data.count}} results<!--<span *ngIf="timeDifference">( {{timeDifference}} seconds ) </span></span></div>-->
        <div id="search" *ngIf="data"><span *ngIf="data.count">About {{data.count}} results
            <!--<span *ngIf="timeDifference">( {{timeDifference}} seconds ) </span></span></div>-->
    </span></div>
        <div>
            <search-result *ngIf="data" [heroes]="data.data"></search-result>


            <div *ngIf="data" class="pagination">
                <pagination *ngIf="data.count>10" class="pagination" [totalItems]="data.count"
                            [(ngModel)]="bigCurrentPage"
                            [maxSize]="maxSize"
                            class="pagination-sm"
                            [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event"
                            (pageChanged)="pageChanged($event)"></pagination>
            </div>

        </div>


    </div>
</div>
