/*

#search {
  outline: none;
  border: none;
}

#search {
 width: 96%;
  border-radius: 50px 50px 50px 50px;
  padding: 0.5em;

}





.search{
  border: 1px solid #a4c3ca;
  font: normal 13px 'trebuchet MS', arial, helvetica;
  width: 40%;
  margin: 0 auto;
  border-radius: 50px 50px 50px 50px;


}

.gap{
  padding: 1em;
}
*/


/* Reset
**************************************************************************/
* { box-sizing: border-box; margin: 0; padding: 0; }
body { margin: 1rem; }
h1 { margin: 2rem 0 0; }


/* Flexbox Example
**************************************************************************/
.flexbox { display: flex; }
.flexbox .stretch { flex: 1; }
.flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
.flexbox div input { padding: .5em 1em; width: 100%; }
.flexbox div button { padding: .5em 1em; white-space: nowrap; }
section{
  border: solid 1px darkgrey;
  border-radius: 50px 50px 50px 50px;
  width: 70%;
 /* margin: 0 auto;
*/

}

.bound{
  padding: 1em;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

input{
  border: none;
  border-radius: 50px 50px 50px 50px;
  padding: .1em;
  outline: none;


}
.normal{
  padding: .4em;

}
.heading{
  color:  #616d7a;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 1em;

}
.pagination {
  text-align: center;
  width: 100%;

}
.btn-group {
  position: absolute;
  right: 0;
  top:17px ;
}
.btn{
  padding: 5px 10px;
}
.btn-group ul{
  padding: 8px;
}
/*#search,
#submit {
  float: left;
}

!*#search {
  padding: 5px 9px;
  height: 3em;
  width: 20em;
  border: 1px solid #a4c3ca;
  font: normal 13px 'trebuchet MS', arial, helvetica;
  background: #f1f1f1;
  border-radius: 50px 3px 3px 50px;
  float: left;

}*!

!*input {
  outline: none;
}*!

.flexContainer {
  display: flex;
}

.inputField {
  flex: 1;
}*/
/* ----------------------- */

/*
#submit {
  background: rgba(218, 127, 34, 0.78) linear-gradient(rgba(218, 127, 34, 0.78), rgba(218, 127, 34, 0.78));
  border-radius: 3px 50px 50px 3px;
  border: 1px solid rgba(218, 127, 34, 0.78);
  height: 2.8em;
  padding: 0;
  width: 5em;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #404455;
}

#submit:hover {
  background: rgba(218, 127, 34, 0.78);
}

#submit:active {
  background: rgba(218, 127, 34, 0.78);
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#submit::-moz-focus-inner {
  border: 0; !* Small centering fix for Firefox *!
}

.search {

  margin: auto;
  width: 30%;
  padding-bottom: 5em;
  padding-top: 2em;
}

.list {
  vertical-align: top;
}

.clear {
  clear: both;
}


.content{
  background-color: #4b4b4e;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: rgba(218, 127, 34, 0.78);
  border-color: rgba(218, 127, 34, 0.78);
}
*/
#search {
  vertical-align: top;
  width: 50%;
  margin: 0 auto;
  text-align: right;
  font-family: 'Quicksand', sans-serif;
  color: grey;

}
.pagination .active a {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: rgba(218, 127, 34, 0.78);
  border-color: rgba(218, 127, 34, 0.78);
}
