.card-header {
  background-color: #b9a7a3;
  border: groove;
  margin: 0 auto;
  width: 50%;
  height: 30px;
  text-align: center;

}

.card-block {
  border: groove;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.card {
  padding: 0.5%;
}

.hide {
  display: none;
}
