.toolbar{
  height: 4em;

}



.centralHeader{
  color: #ed5124;;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8em;
  font-weight: 800;
  line-height: 1.33;
  text-align: center;
  width: 100%;
  padding-top: 2.5em;
  text-decoration: none;
}
.sidebar{
  width: 20%;
  padding: 1em;
}

img{
  float: right;
}

.fake-link {
  cursor: pointer;
  padding: 1em;
}
.btn{
  font-size: 1em;

}
