<md-toolbar class="toolbar" xmlns="http://www.w3.org/1999/html">
  <span class="sidebar"><a href="https://rise.round.glass/rg-fundraiser" target="_blank"><img
    src="../../assets/rg-rise-logo.png" alt="Logo"></a> </span>
  <a class="centralHeader" href="/dashboard"><p href="#">Non Profit Directory</p></a>

  <!--  <span class="header">Better data.<br>
        Better decisions.<br>
      Better world.</span>-->
  <span class="sidebar">
     <!-- <div class="btn-group" dropdown>

  <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
   <i class="fa fa-user-circle" aria-hidden="true"></i>
 <span class="caret"></span>
  </button>
  <ul dropdownMenu role="menu" aria-labelledby="single-button">
    <li role="menuitem"><span class="fake-link" (click)="logout()" id="fake-link-1">Logout</span>
</li>

  </ul>
</div>--></span>

</md-toolbar>
